/* Ensure the menu snaps to the bottom of the header */
.MuiDrawer-paper {
  top: 77px !important; /* Adjust this value if the header height changes */
}

/* Remove padding between the top of the menu and the first menu item */
.MuiList-root {
  padding-top: 1 !important;
}

/* Adjust the height of the toolbar in the admin menu */
.MuiToolbar-root {
  height: 1px !important;
}
/* Adjust the height of the specific toolbar class */
.css-hyum1k-MuiToolbar-root {
  min-height: 1px !important;
}
